<!DOCTYPE html>
<html
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"/>
</head>
<body>
<header>
    <th:block th:include="~{fragments/navbar}"/>
</header>
<main>
    <div class="w-100 mx-auto">
        <h2 class="text-center mt-5">
            <span class="badge badge-pill badge-secondary">Ordered products</span>
        </h2>
        <div class="row text-center w-75 mx-auto">
            <th:block th:each="order : ${orderServiceModels}">
                <div class="col col-md-12 text-left pt-3 pl-5">
                    <ul>
                        <li>
                            <h5 th:utext="'Order ID: ' + ${order.id}"></h5>
                        </li>
                        <li>
                            <h5 th:utext="'Date: ' + ${order.dateCreated}"></h5>
                        </li>
                        <li>
                            <h5 th:utext="'Status: ' + ${order.status}"></h5>
                        </li>
                    </ul>
                </div>
                <div class="col col-md-12 text-left pt-3">
                    <table class="table table-hover table-bordered mx-auto">
                        <thead>
                        <tr class="row mx-auto">
                            <th class="col-md-1 text-center">#</th>
                            <th class="col-md-1 text-center">Image</th>
                            <th class="col-md-4 text-center">Name</th>
                            <th class="col-md-2 text-center">Quantity</th>
                            <th class="col-md-2 text-center">Price</th>
                            <th class="col-md-2 text-center">Total Price</th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="product, iter : ${order.orderProducts}">
                            <tr class="row mx-auto">
                                <th class="col-md-1 text-center" th:utext="${iter.index + 1}"></th>
                                <td class="col-md-1">
                                    <div class="text-center"><img th:src="${product.product.imgUrl}" width="40"
                                                                  height="40"
                                                                  alt="img">
                                    </div>
                                </td>
                                <td class="col-md-4 text-center" th:utext="${product.product.name}"></td>
                                <td class="col-md-2 text-center" th:utext="${product.quantity}"></td>
                                <td class="col-md-2 text-center" th:utext="${product.product.price}  + ' $'"></td>
                                <td class="col-md-2 text-center" th:utext="${product.totalPrice}  + ' $'"></td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                </div>
                <div class="col col-md-12 text-right">
                    <h5 class="pr-4" th:utext="'Total price: ' + ${order.totalPrice} + ' $'"></h5>
                    <hr class="hr-2 bg-dark">
                </div>
            </th:block>
        </div>
        <!--logs pagination -->
        <nav class="text-center mt-5" aria-label="Pagination" th:if="${orderServiceModels.totalPages gt 0}">
            <ul class="pagination justify-content-center font-weight-bold">
                <li class="page-item" th:classappend="${orderServiceModels.number eq 0} ? 'disabled'">
                    <a class="page-link svg-icon"
                       th:href="@{/orders?size=1&sort=dateCreated,desc&page={id}(id=${orderServiceModels.number lt 1 ? 0 : orderServiceModels.number - 1})}"
                       aria-label="Previous"
                       title="Previous Page" rel="tooltip">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item" th:classappend="${i eq orderServiceModels.number + 1} ? 'active'"
                    th:each="i : ${#numbers.sequence( orderServiceModels.number + 1, orderServiceModels.totalPages > 10 + orderServiceModels.number ? orderServiceModels.number + 10 : orderServiceModels.totalPages, 1)}">
                    <a class="page-link" th:href="@{/orders?size=1&sort=dateCreated,desc&page={id}(id=${i-1})}" th:text="${i}"
                       th:title="${'Page '} + i"
                       rel="tooltip"></a>
                </li>
                <li class="page-item disabled" th:if="${orderServiceModels.number + 10 < orderServiceModels.totalPages}">
                    <a class="page-link svg-icon" href="#">
                        <span data-feather="more-horizontal" width="20" height="20"></span>
                    </a>
                </li>
                <li class="page-item" th:classappend="${orderServiceModels.number + 1 eq orderServiceModels.totalPages} ? 'disabled'">
                    <a class="page-link svg-icon" th:href="@{/orders?size=1&sort=dateCreated,desc&page={id}(id=${orderServiceModels.number + 1})}"
                       aria-label="Next"
                       title="Next Page" rel="tooltip">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</main>
<footer class="footer">
    <th:block th:include="~{fragments/footer}"/>
</footer>
</body>
</html>