<!DOCTYPE html>
<html
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"/>
</head>
<body>
<header>
    <th:block th:include="~{fragments/navbar}"/>
</header>
<main>
    <div class="w-50 mx-auto">
        <div class="text-center">
            <h2>Validations fail:</h2>
            <th:block th:each="error, iter : ${errors}">
                <h4 class="text-left" th:text="${iter.index+1} + '. ' + ${error.value}"></h4>
            </th:block>
        </div>
    </div>
</main>
<footer>
    <th:block th:include="~{fragments/footer}"/>
</footer>
</body>
</html>