<!DOCTYPE html>
<html
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"/>
</head>
<body>
<header>
    <th:block th:include="~{fragments/navbar}"/>
</header>
<main>
    <h1 class="text-center mt-5 mb-2">
        <span class="badge badge-pill badge-secondary">Error</span>
    </h1>
    <div class="text-center">
        <div class="w-75 mx-auto">
            <div class="text-center">
                <h3 th:utext="${message}"></h3>
            </div>
        </div>
    </div>
</main>
<footer>
    <th:block th:include="~{fragments/footer}"/>
</footer>
</body>
</html>