<!DOCTYPE html>
<html
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"/>
</head>
<body>
<header>
    <th:block th:include="~{fragments/navbar}"/>
</header>
<main>
    <div class="w-50 mx-auto">
        <h2 class="text-center mt-5">
            <span class="badge badge-pill badge-secondary">Shopping cart</span>
        </h2>
        <div class="row">
            <div class="col col-md-12 text-center">
                <th:block th:each="product, iter : ${cart.shoppingCartProducts}">
                    <output class="col col-md-3 text-center" th:escape="false">
                        <h4 class="text-center mt-5">
                            <span class="badge badge-pill badge-primary" th:utext="${product.product.name}"></span>
                        </h4>
                        <img class ="mb-3 mt-3" th:src="${product.product.imgUrl}" width="100" height="100" >
                        <h5 th:if="${product.product.promotionalPrice} == null" class="text-left pl-4" th:utext="'Price: ' + ${product.product.price} + ' $'"></h5>
                        <h5 th:unless="${product.product.promotionalPrice} == null" class="text-left pl-4" th:utext="'Price: ' + ${product.product.promotionalPrice} + ' $'"></h5>
                        <h5 class="text-left pl-4" th:utext="'Quantity: ' + ${product.quantity} + 'pcs.'"></h5>
                        <span style="visibility: hidden">....</span>
                        <form class="mx-auto" th:action="@{/carts/remove-from-cart/{id}(id=${product.product.id})}"
                              method="post">
                            <button class="btn warning btn-primary low-button font-weight-bold text-white"
                                    type="submit">Remove from Cart
                            </button>
                        </form>
                    </output>
                </th:block>
                <hr class="hr-2 bg-dark">
                <h4 th:utext="'Total price: ' + ${cart.calculateTotalCartPrice()} + ' $'"></h4>
                <form th:action="@{/carts/buy}" method="post">
                    <th:block>
                        <button class="btn warning btn-warning low-button font-weight-bold text-white" type="submit">
                            Buy Products
                        </button>
                    </th:block>
                </form>
            </div>
        </div>
    </div>
</main>
<footer class="footer">
    <th:block th:include="~{fragments/footer}"/>
</footer>
</body>
</html>