<!DOCTYPE html>
<html
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">

<th:block th:include="~{fragments/head}"/>

<body>
<th:block th:include="~{fragments/navbar}"/>
<main>
    <main>
        <div>
            <span style="visibility: hidden">....</span>
            <h1 class="text-center bold font-weight-bold text-dark">Table with all users:</h1>
            <hr class="hr-2 bg-dark">
            <table class="table table-hover w-75 mx-auto">
                <thead>
                <tr class="row mx-auto">
                    <th class="col-md-1 text-center">#</th>
                    <th class="col-md-2 text-center">Username</th>
                    <th class="col-md-3 text-center">Email</th>
                    <th class="col-md-4 text-center">Authorities</th>
                    <th class="col-md-3 text-center"></th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="user, iter : ${users}">
                    <tr class="row mx-auto">
                        <th class="col-md-1 text-center" th:utext="${iter.index + 1}"></th>
                        <td class="col-md-2 text-center" th:utext="${user.username}"></td>
                        <td class="col-md-3 text-center" th:utext="${user.email}"></td>
                        <th:block class="col-md-4 text-center" th:each="authority : ${user.authorities}">
                            <td th:utext="${authority.authority}"></td>
                        </th:block>
                        <th:block sec:authorize="hasRole('ROLE_ROOT')">
                            <th:block th:if="${#lists.size(user.authorities) == 2}">
                                <td class="col-md-3 text-right">
                                    <form th:action="@{/user/set-user/{id}(id=${user.id})}" method="post">
                                        <button class="btn btn-secondary glow-button font-weight-bold text-white">MAKE
                                            USER
                                        </button>
                                    </form>
                                </td>
                            </th:block>
                            <th:block th:if="${#lists.size(user.authorities) == 1}">
                                <td class="col-md-3 text-right">
                                    <form th:action="@{/user/set-admin/{id}(id=${user.id})}" method="post">
                                        <button class="btn btn-secondary glow-button font-weight-bold text-white">
                                            MAKE ADMIN
                                        </button>
                                    </form>
                                </td>
                            </th:block>
                        </th:block>
                    </tr>
                </th:block>
                </tbody>
            </table>
            <hr class="hr-2 bg-dark">
            <span style="visibility: hidden">....</span>
        </div>
    </main>
    <th:block th:include="~{fragments/footer}"/>
</body>

</html>