<!DOCTYPE html>
<html
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"/>
</head>
<body>
<header>
    <th:block th:include="~{fragments/navbar}"/>
</header>
<main>
    <div>
        <h2 class="text-center mt-5">
            <span class="badge badge-pill badge-secondary">Table with all users</span>
        </h2>
        <table class="table table-hover w-75 mx-auto">
            <thead>
            <tr class="row mx-auto col-md-12">
                <th class="col-md-1 text-center">#</th>
                <th class="col-md-2 text-center">Username</th>
                <th class="col-md-3 text-center">Email</th>
                <th class="col-md-4 text-center">Authorities</th>
                <th class="col-md-2 text-center">Change Authority</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="user, iter : ${users}">
                <tr class="row mx-auto col-md-12">
                    <td class="col-md-1 text-center" th:utext="${iter.index + 1}"></td>
                    <td class="col-md-2 text-center" th:utext="${user.username}"></td>
                    <td class="col-md-3 text-center" th:utext="${user.email}"></td>
                    <td class="col-md-4 text-center">
                        <th:block  th:each="authority : ${user.authorities}">
                            <span class="pl-1 pr-1" th:utext="${authority.authority}"></span>
                        </th:block>
                    </td>
                    <td class="col-md-2 text-center">
                        <th:block sec:authorize="hasRole('ROLE_ROOT')">
                            <th:block th:if="${#lists.size(user.authorities) == 2}">
                                <form th:action="@{/users/set-user/{id}(id=${user.id})}" method="post">
                                    <button class="btn btn-secondary glow-button font-weight-bold text-white">
                                        MAKE USER
                                    </button>
                                </form>
                            </th:block>
                            <th:block th:if="${#lists.size(user.authorities) == 1}">
                                <form th:action="@{/users/set-admin/{id}(id=${user.id})}" method="post">
                                    <button class="btn btn-secondary glow-button font-weight-bold text-white">
                                        MAKE ADMIN
                                    </button>
                                </form>
                            </th:block>
                        </th:block>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</main>
<footer class="footer">
    <th:block th:include="~{fragments/footer}"/>
</footer>
</body>
</html>