<!DOCTYPE html>
<html
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"/>
</head>
<body>
<header>
    <th:block th:include="~{fragments/navbar}"/>
</header>
<main>
    <div class="mx-auto w-25">
        <h2 class="text-center mt-5">
            <span class="badge badge-pill badge-secondary">User profile</span>
        </h2>
        <span style="visibility: hidden">....</span>
        <div class="text-left">
            <h4 th:utext="'Username: ' + ${model.username}"></h4>
        </div>
        <div class="text-left">
            <h4 th:utext="'Email: ' + ${model.email}"></h4>
        </div>
        <span style="visibility: hidden">....</span>
        <div class="button-holder d-flex justify-content-center">
            <th:block>
                <a th:href="@{/users/profile/edit}"
                   class="btn warning btn-warning low-button font-weight-bold text-white">Edit Profile</a>
            </th:block>
        </div>
    </div>
    <span style="visibility: hidden">....</span>
</main>
<footer class="footer">
    <th:block th:include="~{fragments/footer}"/>
</footer>
</body>
</html>