<!DOCTYPE html>
<html
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"/>
</head>
<body>
<header>
    <th:block th:include="~{fragments/navbar}"/>
</header>
<main>
    <div class="mx-auto col-xl-3 col-lg-4 col-md-5 col-sm-6">
        <h2 class="text-center mt-5 mb-5">
            <span class="badge badge-pill badge-secondary">User profile</span>
        </h2>
        <div class="d-flex justify-content-center">
            <h4 th:text="'Username: ' + ${model.username}"></h4>
        </div>
        <div class="d-flex justify-content-center">
            <h4 th:text="'Email: ' + ${model.email}"></h4>
        </div>
        <div class="button-holder d-flex justify-content-center mt-5">
            <th:block>
                <a th:href="@{/users/profile/edit}"
                   class="btn btn-warning low-button font-weight-bold text-white mr-2">Edit Profile</a>
                <a th:href="@{/users/profile/delete}"
                   class="btn btn-danger low-button font-weight-bold text-white">Delete Profile</a>
            </th:block>
        </div>
    </div>
</main>
<footer class="footer">
    <th:block th:include="~{fragments/footer}"/>
</footer>
</body>
</html>