<th:block th:fragment>
    <header>
        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 bg-dark border-bottom shadow-sm">
            <a class="my-0 mr-md-auto font-weight-bold text-white" href="/">BioProduct Shop</a>
            <nav class="row my-2 my-md-0 mr-md-3">
                <a class="p-2 font-weight-bold text-white" href="/">Home</a>
                <a class="p-2 font-weight-bold text-white" href="/login">Login</a>
                <a class="p-2 font-weight-bold text-white" href="/register">Register</a>
                <a class="p-2 font-weight-bold text-white" href="/contacts">Contacts</a>
            </nav>
        </div>
    </header>
</th:block>