<!DOCTYPE html>
<html
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">

<th:block th:include="~{fragments/head}"/>

<body>
<th:block th:include="~{fragments/navbar-user}"/>
<main>
    <div class="container">
        <h1>Bio Products</h1>
        <hr class="my-4"/>
        <ul style="margin-bottom: 100px">
            <li>
                <a class="h3" href="/product/create">Create </a>
            </li>
            <li>
                <a class="h3" href="/product/all">All products</a>
            </li>
        </ul>
    </div>

</main>
<th:block th:include="~{fragments/footer}"/>
</body>
</html>