<!DOCTYPE html>
<html
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"/>
</head>
<body>
<header>
    <th:block th:include="~{fragments/navbar}"/>
</header>
<main>
    <h2 class="text-center mt-5">
        <span class="badge badge-pill badge-secondary" th:text="${productDetailsModel.name}"></span>
    </h2>
    <h5 class="text-center" th:utext="'Made: ' + ${productDetailsModel.made}"></h5>
    <div class="row mt-5">
        <div class="col col-md-4 text-right pr-5">
            <img th:src="${productDetailsModel.imgUrl}" width="300">
        </div>
        <div class="col col-md-6 text-left pl-5">
            <ul>
                <li class="text-left">
                    <h6 th:utext="${productDetailsModel.description}"></h6>
                </li>
                <li class="text-left pt-4">
                    <h5 th:utext="'Regular Price: $' + ${productDetailsModel.price}"></h5>
                </li>
                <li>
                    <form class="mx-auto" th:action="@{/products/promote/{id}(id=${productDetailsModel.id})}"
                          th:object="${priceDiscountBindingModel}" th:method="POST">
                        <div class="input-group col-md-5 h5 p-0 mb-3">
                            <label for="discount" class="col-form-label">Discount: </label>
                            <input class="form-control validate col-md-3 ml-2" type="number" size="5px"
                                   id="discount" name="discount"
                                   th:errorclass="bg-danger" th:field="*{discount}"
                                   placeholder="10%" min="1"
                                   max="90" step="1" required>
                            <p th:each="e : ${#fields.errors('discount')}">
                                <small th:text="${e}" class="text-dark col-12 text-center"></small>
                            </p>
                        </div>
                        <div class="input-group col-md-10 h5 p-0 mb-3">
                            <label for="fromDate" class="col-form-label">From Date: </label>
                            <input type="datetime-local" size="15px" id="fromDate" name="fromDate"
                                   th:errorclass="bg-danger" th:field="*{fromDate}"
                                   class="form-control validate col-md-4 ml-2"
                                   data-large-mode="true" readonly>
                            <p th:each="e : ${#fields.errors('fromDate')}">
                                <small th:text="${e}" class="text-dark col-12 text-center"></small>
                            </p>
                        </div>
                        <div class="input-group col-md-10 h5 p-0 mb-3">
                            <label for="toDate" class="col-form-label">To Date: </label>
                            <input type="datetime-local" size="15px" id="toDate" name="toDate"
                                   th:errorclass="bg-danger" th:field="*{toDate}"
                                   class="form-control validate col-md-4 ml-2"
                                   data-large-mode="true">
                            <p th:each="e : ${#fields.errors('toDate')}">
                                <small th:text="${e}" class="text-dark col-12 text-center"></small>
                            </p>
                        </div>
                        <button class="btn warning btn-primary low-button font-weight-bold text-white mt-2 ml-2"
                                type="submit">Promote
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</main>
<footer class="footer">
    <th:block th:include="~{fragments/footer}"/>
</footer>
</body>

</html>